@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inria+Sans&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.Admin_All_orders {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: whitesmoke;
  gap: 10px;
}

.Admin_All_orders * {
  font-family: "Inria Sans", sans-serif !important ;
  font-weight: 700 !important;
  font-style: normal !important;
}

.Admin_All_orders .more_item_side_bar {
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 9%;
  display: flex;
  box-shadow: inset 0px 0px 25px #000c6659;
  flex-direction: column;
  width: 40%;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(228, 232, 240, 0.73);
  border: 1px solid rgba(255, 255, 255, 0.125);
  gap: 10px;
  height: 89%;
}

.Admin_All_orders .more_item_side_bar .close_sidebar {
  position: absolute;
  font-size: 1.5em;
  left: -40px;
  border: 3px ridge #000c6659;
  padding: 20px;
  top: 50%;
  background-color: white;
  z-index: -1;
  cursor: pointer;
  box-shadow: inset 0px 0px 25px #000c6659;
}

.Admin_All_orders .more_item_side_bar > * {
  border-radius: 10px;
}

.Admin_All_orders .more_item_side_bar .user {
  background-color: #fff;
  height: 30px;
  font-size: 1.7em;
  padding: 5px 10px;
}

.Admin_All_orders .more_item_side_bar .user_email {
  background-color: #fff;
  height: 30px;
  font-size: 1.5em;
  padding: 5px 10px;
}

.Admin_All_orders .more_item_side_bar .ordered_at {
  background-color: #fff;
  height: 30px;
  font-size: 1.3em;
  padding: 5px 10px;
}

.Admin_All_orders .more_item_side_bar .product_ordered {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 100%;
  grid-template-rows: repeat(2, 350px);
  overflow-y: auto;
  padding: 20px;
  background-color: white;
}

.Admin_All_orders .more_item_side_bar .product_container {
  display: flex;
}

.Admin_All_orders
  .more_item_side_bar
  .product_container
  > .each_product_details {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 100%;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.Admin_All_orders
  .more_item_side_bar
  .product_container
  .each_product_details
  > span {
  height: 60%;
  width: 100%;
}

.Admin_All_orders
  .more_item_side_bar
  .product_container
  .each_product_details
  > span
  > img {
  width: 100%;
  border-radius: 10px;
}

.Admin_All_orders
  .more_item_side_bar
  .product_container
  .each_product_details_options {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Admin_All_orders
  .more_item_side_bar
  .product_container
  > .each_product_details_options
  > .category {
  font-size: 1.7em;
}

.Admin_All_orders
  .more_item_side_bar
  .product_container
  > .each_product_details_options
  > .title {
  font-size: 1.1em;
}

.Admin_All_orders
  .more_item_side_bar
  .product_container
  > .each_product_details_options
  > .qty {
  font-size: 1.2em;
}

.Admin_All_orders
  .more_item_side_bar
  .product_container
  > .each_product_details_options
  > .price {
  font-size: 1.2em;
}

.Admin_All_orders
  .more_item_side_bar
  .product_container
  > .each_product_details_options:nth-child(1)
  > * {
  height: fit-content;
  border: 3px ridge #000c6659;
  border-radius: 10px;
  padding: 5px;
}

.Admin_All_orders
  .more_item_side_bar
  .product_container
  .each_product_details_options.description {
  grid-column: span 2;
}

.Admin_All_orders
  .more_item_side_bar
  .product_container
  .each_product_details_options:nth-child(2)
  > * {
  height: fit-content;
  border: 3px ridge #000c6659;
  border-radius: 10px;
  padding: 5px;
}

.Admin_All_orders
  .more_item_side_bar
  .each_product_details
  > span:nth-child(1) {
  font-size: 1.2em;
}

.Admin_All_orders
  .more_item_side_bar
  .each_product_details
  > span:nth-child(2) {
  font-size: 1.2em;
}

.Admin_All_orders
  .more_item_side_bar
  .each_product_details
  > span:nth-child(3) {
  font-size: 1.2em;
}

.Admin_All_orders
  .more_item_side_bar
  .each_product_details
  > span:nth-child(4) {
  font-size: 1.2em;
}

.Admin_All_orders
  .more_item_side_bar
  .each_product_details
  > span:nth-child(5) {
  font-size: 1.2em;
}

/* Keyframes */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* When mounting (showMoreItems=true) */
.more_item_side_bar.slide-in {
  animation: slideIn 1s ease-out forwards;
}

/* When unmounting (showMoreItems=false) */
.more_item_side_bar.slide-out {
  animation: slideOut 5s ease-in forwards;
}

.Admin_All_orders .navigation_option {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  padding: 10px 5px;
}

.Admin_All_orders .navigation_option > h2 {
  font-size: 1.8em;
}

.Admin_All_orders .navigation_option > nav {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
}

.Admin_All_orders .navigation_option > nav > * {
  border: none;
  height: 90%;
  border: 3px ridge #000c6659;
  width: fit-content;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

.Admin_All_orders .sort_cloth_filter > svg {
  height: 20px;
  width: 20px;
}

.Admin_All_orders .all_orders_container {
  display: grid;
  overflow-y: auto;
  gap: 5px;
  grid-template-columns: repeat(5, 350px);
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.Admin_All_orders .all_orders_container::-webkit-scrollbar {
  width: 0px;
}

.Admin_All_orders .all_orders_container .product_ordered {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(228, 232, 240, 0.73);
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 12px;
}

.Admin_All_orders .all_orders_container .image_container {
  display: grid;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(2, auto);
  width: 100%;
  gap: 5px;
}

.Admin_All_orders .all_orders_container .image_container > span {
  height: 100%;
  width: 100%;
}

.Admin_All_orders .all_orders_container .image_container > span > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.Admin_All_orders .all_orders_container .options {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 5px;
  height: 100px;
}

.Admin_All_orders .all_orders_container .options > * {
  border: 3px ridge #000c6659;
  border-radius: 10px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.Admin_All_orders .all_orders_container .options > .user_email {
  grid-column: span 3;
  font-size: 1.2em;
}

.Admin_All_orders .all_orders_container .price_payment {
  position: absolute;
  padding: 5px 10px;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  border: 3px ridge #000c6659;
  background-color: white;
  font-size: 1.5em;
  left: 10px;
  display: flex;
  gap: 5px;
}

.Admin_All_orders .all_orders_container .more_info {
  position: absolute;
  padding: 5px 10px;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  border-radius: 10px;
  border: 3px ridge #000c6659;
  background-color: white;
  font-size: 1.5em;
  right: 10px;
  display: flex;
  gap: 5px;
}

.Admin_All_orders .all_orders_container .options > .date {
  grid-column: span 3;
  font-size: 1.2em;
}

.Admin_All_orders .all_orders_container .options > .cancel {
  font-size: 1.2em;
}

.Admin_All_orders .all_orders_container .options > .mark {
  font-size: 1.2em;
}

.Admin_All_orders .all_orders_container .options > .done {
  font-size: 1.2em;
}

.Admin_All_orders .all_orders_container .options {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 5px;
  height: 100px;
}

.Admin_All_orders .all_orders_container .image_container > span {
  height: 100%;
  width: 100%;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.Admin_All_orders .product_container > .image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Admin_All_orders #all_Images .table_body::-webkit-scrollbar {
  width: 0;
}

.Admin_All_orders .more_info_container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.Admin_All_orders .item_price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 10%;
  position: absolute;
  width: 100%;
  top: 0;
  height: 10%;
}

.Admin_All_orders .price {
  height: fit-content;
  font-size: 1.2em;
  width: fit-content;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.Admin_All_orders .available_items {
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  color: black;
  background-color: white;
  border-radius: 5px;
  font-size: 1em;
  margin-right: 10px;
  font-weight: bolder;
}

.Admin_All_orders .more_info_nav {
  flex: 90%;
  height: 90%;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  gap: 5px;
}

.Admin_All_orders .more_info_nav > button {
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;

  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: inline-block;

  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1.2em;
  -webkit-user-select: none;
  user-select: none;
  text-align: left;
  touch-action: manipulation;
  position: relative;
  border: 3px ridge #000c6659;
  outline: none;
  background-color: white;
  transition: 1s;
  font-weight: bold;
}

.Admin_All_orders .more_info_nav > button::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 3%;
  width: 95%;
  height: 30%;
  background-color: white;
  transition: 0.5s;
  transform-origin: center;
}

.Admin_All_orders .more_info_nav > button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 90%;
  left: 3%;
  width: 95%;
  height: 30%;
  background-color: white;
  transition: 0.5s;
}

.Admin_All_orders .more_info_nav > button:hover::before,
.Admin_All_orders .more_info_nav > button:hover::after {
  transform: scale(0);
}

.Admin_All_orders .more_info_nav > button:hover {
  box-shadow: inset 0px 0px 25px #f1742759;
}

.Admin_All_orders .card_footer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Admin_All_orders .price {
  font-size: 1.2em;
  font-weight: bolder;
}

.Admin_All_orders .checkout {
  width: fit-content;
  height: fit-content;
  padding: 2px 5px;
  display: flex;
  gap: 10px;
  font-size: 1.2em;
}

.Admin_All_orders .more_items {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  padding: 3px 5px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.Admin_All_orders .prev_page,
.Admin_All_orders .next_page {
  width: 20%;
  height: 100%;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1.4em;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  position: relative;
  border: 3px ridge #000c6659;
  outline: none;
  background-color: transparent;
  transition: 1s;
  font-weight: bold;
}

.Admin_All_orders .prev_page:hover::before,
.Admin_All_orders .next_page:hover::after {
  transform: scale(0);
}

.Admin_All_orders .clothes_grouping_button:hover {
  box-shadow: inset 0px 0px 25px #000c6659;
}
