#root {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Inria Sans";
  src: url("../src/font/InriaSans-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body * {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
