@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Inria+Sans&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.accountDetailsComponent {
  position: absolute;
  right: 30%;
  top: 20%;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.accountDetailsComponent * {
  font-family: "Inria Sans", sans-serif !important ;
  font-weight: 700 !important;
  font-style: normal !important;
}

.accountDetailsComponent__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: column;
  height: 40%;
  gap: 10px;
}

.accountDetailsComponent__avatar {
  width: auto;
  height: 100%;
  border-radius: 50%;
  margin-right: 12px;
}

.accountDetailsComponent__details {
  display: flex;
  height: 60%;
}

.accountDetailsComponent__name {
  font-size: 1.25rem;
  margin: 0;
}

.accountDetailsComponent__personal_details,
.accountDetailsComponent__addresses {
  flex: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  position: relative;
}

.accountDetailsComponent__subheading {
  color: blue;
  font-size: 2em;
}

.accountDetailsComponent__info {
  display: flex;
  flex-direction: column;
}

.accountDetailsComponent__info > button {
  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  border: 0;
  font-size: 1.4em;
  -webkit-user-select: none;
  user-select: none;
  text-align: left;
  touch-action: manipulation;
  position: absolute;
  border: 3px ridge #000c6659;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  top: 20px;
  right: 10px;
}

.accountDetailsComponent__info > p {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.accountDetailsComponent__info > p > strong {
  font-size: 1.3em;
}
