#video_component {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  background-color: whitesmoke;
  gap: 10px;
}

#video_component > * {
  margin: 10px;
}

#video_component #Viewed_clothes_graph {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#video_component #Viewed_clothes_graph > .chart_options {
  display: grid;
  gap: 5px;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  height: 20%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% 50%;
}

#video_component #Viewed_clothes_graph > .chart_options > .chart_category {
  grid-area: 1 / 1 / 2 / 2;
  height: 90%;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  border: none;
  font-size: 1.2em;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px 0px 25px #000c6659;
  border: 3px solid #000c6659;
}

#video_component #Viewed_clothes_graph > .chart_options > .date_container {
  grid-area: 1 / 3 / 2 / 5;
  font-size: 1.2em;
  font-weight: bolder;
  border-radius: 10px;
  height: fit-content;
  padding: 0 15px;
  background-color: whitesmoke;
  border: none;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#video_component
  > #Viewed_clothes_graph
  > .chart_options
  > .date_container
  .end_date_container {
  grid-area: 1/4/2/4;
  width: 80%;
  font-size: 1.2em;
  font-weight: bolder;
  border-radius: 10px;
  height: fit-content;
  padding: 10px 15px;
  background-color: whitesmoke;
  border: none;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#video_component
  > #Viewed_clothes_graph
  > .chart_options
  .date_container
  > .start_date {
  width: fit-content;
  font-size: 1.2em;
  font-weight: bolder;
  border-radius: 10px;
  height: fit-content;
  padding: 10px 15px;
  background-color: whitesmoke;
  border: none;
}

#video_component
  > #Viewed_clothes_graph
  > .chart_options
  .date_container
  > .end_date {
  width: fit-content;
  font-size: 1.2em;
  font-weight: bolder;
  border-radius: 10px;
  height: fit-content;
  padding: 10px 15px;
  background-color: whitesmoke;
  border: none;
}

#video_component > #Viewed_clothes_graph > .chart_options > .graph_review {
  grid-area: 2 / 1 / 3 / 5;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  border: none;
  font-size: 1.2em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#video_component > #Viewed_clothes_graph .chart_options > .chart_container {
  flex-direction: column;
  display: flex;
  gap: 5px;
}

#video_component > #Viewed_clothes_graph .chart_diagram {
  width: 100%;
  height: 80%;
  background-color: white;
  position: relative;
}

#video_component > #Viewed_clothes_graph .chart_diagram .chart_canvas {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
}

#video_component #all_video {
  grid-row: 1 / 5;
  grid-column: 3 / 5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

#video_component #all_video #table_header > input {
  width: 98%;
  border-radius: 10px;
  font-size: 1.2em;
  height: 90%;
  margin-top: 5px;
  grid-column: span 2;
  background-color: whitesmoke;
  border: none;
}

#video_component #all_video #table_name {
  width: 100%;
  text-align: center;
  display: block;
  height: fit-content;
  padding: 10px 0;
  background-color: white;
  font-size: 1.2em;
  font-weight: bolder;
  grid-column: span 2;
}

#all_video #table_header {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 72px;
  border-radius: 10px;
  grid-template-rows: repeat(2, 1fr);
}

#all_video #table_header > * {
  flex: 1;
  font-size: 1.5em;
  text-align: center;
  font-weight: bolder;
}

#all_video .table_body {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow-y: auto;
  gap: 5px;
}

#all_video .table_body > .video_content {
  height: 250px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}

#all_video .table_body > .video_content > video {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#all_video .table_body::-webkit-scrollbar {
  width: 0;
}

#video_component #local_video_storage {
  grid-row: 3 / 5;
  grid-column: 1 / 3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

#video_component #local_video_storage #table_header > input {
  width: 98%;
  border-radius: 10px;
  font-size: 1.2em;
  height: 90%;
  margin-top: 5px;
  grid-column: span 2;
  background-color: whitesmoke;
  border: none;
}

#video_component #local_video_storage #table_name {
  width: 100%;
  text-align: center;
  display: block;
  height: fit-content;
  padding: 10px 0;
  background-color: white;
  font-size: 1.2em;
  font-weight: bolder;
  grid-column: span 2;
}

#local_video_storage #table_header {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 72px;
  border-radius: 10px;
  grid-template-rows: repeat(2, 1fr);
}

#local_video_storage #table_header > * {
  flex: 1;
  font-size: 1.5em;
  text-align: center;
  font-weight: bolder;
}

#local_video_storage .table_body {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow-y: auto;
  gap: 5px;
}

#local_video_storage .table_body > .video_content {
  height: 250px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}

#local_video_storage .table_body > .video_content > video {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#local_video_storage .table_body::-webkit-scrollbar {
  width: 0;
}
