#admin_container {
  height: 100%;
  width: 100%;
  /* position: absolute; */
  display: grid;
  grid-template-rows: 5% 95%;
  grid-template-columns: 25% 75%;
  box-sizing: border-box;
  overflow: hidden;
}

#admin_container > #admin_header {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#admin_container #logo {
  margin-left: 5%;
  height: 100%;
  width: fit-content;
  position: relative;
  align-items: center;
  display: flex;
}

#admin_container #text3d {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 2.5em;
  font-weight: 700;
  color: #60290659;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  margin: 0;
  height: fit-content;
}

#admin_container #Admin_widget {
  margin-right: 5%;
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: inherit;
}

#admin_container .admin_widget_icon {
  height: 40px;
  background-color: inherit;
  width: 50px;
  border: none;
}

#admin_container .admin_widget_icon > svg {
  height: 25px;
  width: 25px;
}

#admin_container .admin_widget_icon:nth-child(1) {
  height: 30px;
  width: fit-content;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: #f1742759;
  border-radius: 50%;
}

#admin_container .admin_widget_icon > img {
  height: 40px;
  width: auto;
  border-radius: 50%;
}

#admin_container #side_bar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#admin_container #side_bar_items {
  height: 95%;
  width: 100%;
}

#admin_container #side_bar_collapse {
  height: 5%;
  width: 100%;
}
