#history_component {
  margin: 10px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: whitesmoke;
}

#history_component #blog_history,
#history_component #message_history,
#history_component #image_history,
#history_component #video_history,
#history_component #security_history,
#history_component #Dashboard_history {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

#history_component #blog_history #table_name,
#history_component #message_history #table_name,
#history_component #image_history #table_name,
#history_component #video_history #table_name,
#history_component #security_history #table_name,
#history_component #Dashboard_history #table_name {
  width: 100%;
  text-align: center;
  display: block;
  height: fit-content;
  padding: 10px 0;
  background-color: white;
  font-size: 1.2em;
  font-weight: bolder;
  grid-column: span 2;
  border-radius: 10px;
}

#history_component #blog_history #table_option,
#history_component #message_history #table_option,
#history_component #image_history #table_option,
#history_component #video_history #table_option,
#history_component #security_history #table_option,
#history_component #Dashboard_history #table_option {
  width: 100%;
  text-align: center;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: white;
  font-size: 1.2em;
  font-weight: bolder;
  grid-column: span 4;
  border-radius: 10px;
}
#history_component #blog_history #table_option > button,
#history_component #message_history #table_option > button,
#history_component #image_history #table_option > button,
#history_component #video_history #table_option > button,
#history_component #security_history #table_option > button,
#history_component #Dashboard_history #table_option > button {
  width: fit-content;
  text-align: center;
  padding: 10px 5px;
  background-color: white;
  font-size: 0.9em;
  font-weight: bolder;
  grid-column: span 2;
  border-radius: 10px;
  border: none;
}

#history_component #blog_history #table_header > input,
#history_component #message_history #table_header > input,
#history_component #image_history #table_header > input,
#history_component #video_history #table_header > input,
#history_component #security_history #table_header > input,
#history_component #Dashboard_history #table_header > input {
  width: 98%;
  border-radius: 10px;
  font-size: 1.2em;
  height: 90%;
  margin-top: 5px;
  grid-column: span 2;
  background-color: whitesmoke;
  border: none;
}

#blog_history #table_header,
#message_history #table_header,
#image_history #table_header,
#video_history #table_header,
#security_history #table_header,
#Dashboard_history #table_header {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 120px;
  border-radius: 10px;
  grid-template-rows: repeat(3, 1fr);
}

#blog_history #table_header > *,
#message_history #table_header > *,
#image_history #table_header > *,
#video_history #table_header > *,
#security_history #table_header > *,
#Dashboard_history #table_header > * {
  flex: 1;
  font-size: 1.5em;
  text-align: center;
  font-weight: bolder;
}

#blog_history .table_body,
#message_history .table_body,
#image_history .table_body,
#video_history .table_body,
#security_history .table_body,
#Dashboard_history .table_body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  gap: 5px;
}

#blog_history .table_body::-webkit-scrollbar,
#message_history .table_body::-webkit-scrollbar,
#image_history .table_body::-webkit-scrollbar,
#video_history .table_body::-webkit-scrollbar,
#security_history .table_body::-webkit-scrollbar,
#Dashboard_history .table_body::-webkit-scrollbar {
  width: 0;
}


#blog_history .table_body > .information,
#message_history .table_body > .information,
#image_history .table_body > .information,
#video_history .table_body > .information,
#security_history .table_body > .information,
#Dashboard_history .table_body > .information {
  display: flex;
  height: fit-content;
  align-items: center;
  font-size: 1.2em;
  background-color: white;
  border-radius: 10px;
  padding: 15px 0;
  text-align: center;
}

#blog_history .table_body > .information:hover,
#message_history .table_body > .information:hover,
#image_history .table_body > .information:hover,
#video_history .table_body > .information:hover,
#security_history .table_body > .information:hover,
#Dashboard_history .table_body > .information:hover {
  transform: scale(1);
  box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}

#blog_history .table_body > .information > *,
#message_history .table_body > .information > *,
#image_history .table_body > .information > *,
#video_history .table_body > .information > *,
#security_history .table_body > .information > *,
#Dashboard_history .table_body > .information > * {
  flex: 1;
}
